# Use: astroid is a dependency of pylint
astroid>=1.4.8,<2.0
backports-abc>=0.4,<1.0
cffi>=1.9.1,<2.0
# Use: crpytography library is being used for AES256-GCM encryption and decryption
# of the legacy sso ticket which is included in the jwts
cryptography>=1.5.3,<2.0
ecdsa>=0.13,<1.0
# Use: future provides compatability between python 2 and 3
future>=0.16.0,<1.0
idna>=2.1,<3.0
isort>=4.2.5,<5.0
# Use: jwcrypto is used to transform a PEM into a JWK object
jwcrypto>=0.4.0,<1.0
lazy-object-proxy>=1.2.2,<2.0
# Use: ldap3 is the library that we're using to talk to the RBAC directory
ldap3>=2.0.9,<3.0
mccabe>=0.5.2,<1.0
# Use: mock is our mocking framework used across our unit test cases
mock>=2.0.0,<3.0
pbr>=1.10.0,<2.0
pyasn1>=0.1.9,<1.0
pycparser>=2.17,<3.0
# Use: pycrypto is a dependency of python-jose
pycrypto>=2.6.1,<3.0
# Use: code quality utility
pylint>=1.6.4,<2.0
# Use: python-jose is the jwt library that we use to create sign and verify our jwts
python-jose>=1.3.2,<2.0
# Use: redis is used to store and retreive data from the redis jti store
redis>=2.10.5,<3.0
requests>=2.12.1,<3.0
six>=1.10.0,<2.0
# Use: tornado is the web framework we use currently, it's chosen for the scalabilty
# that its asynchronous io model provides
tornado>=4.4.1,<5.0
wrapt>=1.10.8,<2.0
